# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.la
*.a
*.lib

./server/bin/*
./server/bld/*

# Executables
iotServer

# Setting files with private passwords
clientAPI/nodeMCU/settings.h

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
