# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.la
*.a
*.lib

./bin/*
./bld/*

# Executables
iotServer

# Setting files with private passwords
nodeMCU/settings.h
*/settings.h

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
